In [67]:
import sqlite3
import pandas as pd
import csv

In [59]:
#Let's connect to SQLITE3 db

In [80]:
conn=sqlite3.connect('Data Engineer_ETL Assignment.db')

In [61]:
sql_query1 = "SELECT name FROM sqlite_master WHERE type='table';"

In [62]:
table_list = pd.read_sql_query(sql_query1,conn)

In [63]:
print(table_list)

              name
0  sqlite_sequence
1            sales
2           orders
3            items
4        customers

In [64]:
for table_name in table_list['name']:
    schema_query=f"PRAGMA table_info('{table_name}');"
    schema_df=pd.read_sql_query(schema_query, conn)
    print(f"Table:{table_name}")
    print(schema_df['name'].tolist())
    print()

Table:sqlite_sequence
['name', 'seq']

Table:sales
['sales_id', 'customer_id']

Table:orders
['order_id', 'sales_id', 'item_id', 'quantity']

Table:items
['item_id', 'item_name']

Table:customers
['customer_id', 'age']

In [81]:
cursor=conn.cursor()

In [82]:
sql_query="""
SELECT c.customer_id, c.age, i.item_name,COALESCE(SUM(o.quantity),0) AS total_quantity
FROM customers c
LEFT Join sales s ON c.customer_id = s.customer_id
LEFT Join orders o ON s.sales_id = o.sales_id
LEFT Join items i ON o.item_id = i.item_id
WHERE c.age BETWEEN 18 and 35
GROUP BY c.customer_id, i.item_name
HAVING total_quantity > 0
"""
cursor.execute(sql_query)

results = cursor.fetchall()

##for table in results:
 ##   print(table[0])

df=pd.read_sql_query(sql_query,conn)

df.to_csv('Output_SQL.csv', sep=';', index=False)
    
conn.close()